.main {
    background-color: #1D2327;
}

// .main-block-1 {
//     display: flex;
//     flex-direction: column;
// }

.main-block-1 .block-1-row-1, .block-1-row-2 {
    height: 100vh;
    width: 100%;
}

.main-block-1 .block-1-row-1 {
    // background-image: url(../assets/Images/tree.jpg);
    // background-size: cover;
    // background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block-1 .block-1-row-1 .block-row-1-col-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-block-1 .block-1-row-2 {

}